*
{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* Header */
/*Bloco Header*/
.header{
  width: 100vw;
  height: 10vh;
  display: block;
  background-color: #101010;
}
/*SubBloco Header*/
.header_container{
  width: 96%;
  height: 100%;
  display: block;
  margin: 0px auto; /*0px-top&bottom auto-left&right*/
}
/*Bloco Logo no Header*/
.header_logo{
  width: 30%;
  height: 100%;
  display: table;
  float: left;
}
a, a:link, a:visited {
  color: #FFFAFA;
  text-decoration: none;
}
.header_logo h1 span{
  font-weight: 800;
}
/*Escrita no Bloco Logo no Header*/
.header_logo h1{
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Montserrat';
  font-size: 32px;
  font-weight: 200;
}
/*Bloco Menu no Header*/
.header_menu {
  width: 70%;
  height: 100%;
  float: right;
}
/*Lista do Bloco Menu no Header*/
.header_menu li{
  height: 100%;
  display: table;
  float: right;
  padding: 0px 10px; /*0px-top&bottom 10px-left&right*/
}
/*Escrita na Lista do Bloco Menu no Header*/
.header_menu li a{
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-family: 'Montserrat';
  font-size: 16px;
}

/* Footer */
/*Bloco Footer*/
.footer {
  width: 100%;
  height: 20vh;
  display: block;
  overflow: hidden;
  padding: 25px 0px; /*25px-top&bottom 0px-left&right*/
  box-sizing: border-box;
  background-color: #101010;
}
/*SubBloco Footer*/
.footer_container {
  width: 96%;
  height: 100%;
  display: block;
  margin: 0 auto; /*0px-top&bottom auto-left&right*/
}
/*Bloco logo no SubBloco Footer*/
.footer_container .footer_logo {
  width: 30%;
  height: 100%;
  float: left;
  display: block;
}
.footer_container .footer_logo img {
  width: 130px;
  height: auto;
}
/*Bloco third no SubBloco Footer*/
.footer_container .footer_third {
  width: calc(23.3337% - 20px);
  height: 100%;
  margin-right: 10px;
  float: left;
}
.footer_container .footer_third:last-child {
  margin-right: 0;
}
.footer_container .footer_third h1 {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: white;
  display: block;
  margin-bottom: 10px;
}
.footer_container .footer_third a {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: white;
  display: block;
  font-weight: 200;
  padding-bottom: 5px;
}
.footer_container .footer_third li {
  display: inline-block;
  padding: 0px 3px; /*0px-top&bottom 3.5px-left&right*/
  font-size: 20px;
}
.footer_container .footer_third span {
  width: 100%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 200;
  display: block;
  padding-top: 5px;
}


@media screen and (max-width: 991px) {
  p {
    font-size: 16px;
  }
}
  
@media screen and (max-width: 767px) {
  p {
    font-size: 14px;
  }
}
  
@media (max-width: 479px) {
  p, .header_menu li a 
  {
    font-size: 12px;
  }
  article .article2
  {
    width: 100%;
    height: 30vh;
    display: block;
    overflow: hidden;
    padding: 35px 0; /*36px-top&botton 0px-right&left*/
    box-sizing: border-box;
    float: right;
  }
}

/* Main */
.main1 {
  width: 100%;
  height: 30vh;
  display: block;
  padding-bottom: 10px;
}
.main1 .article1 {
  width: 96%;
  height: 100%;
  display: block;
  margin: 5px auto;
}
.article1 .header1{ 
  width: 100%;
  height: 30%;
  display: block;
  background-color: aqua;
  margin: 5px auto;
}
.article1 .header1 p{ 
  height: 100%;
  display: table;
  margin: 5px;
}
.article1 .header1 p span{ 
  display: table-cell;
  vertical-align: middle;
  text-align: justify;
}
.article1 .section1{ 
  width: 100%;
  height: 40%;
  display: block;
  background-color: blue;
  margin: 5px auto;
}
.article1 .section1 p{ 
  height: 100%;
  display: table;
  margin: 5px;
}
.article1 .section1 p span{ 
  display: table-cell;
  vertical-align: middle;
  text-align: justify;
}
.article1 .footer1{ 
  width: 100%;
  height: 30%;
  display: block;
  background-color: yellowgreen;
}
.article1 .footer1 p{ 
  height: 100%;
  display: table;
  margin: 5px;
}
.article1 .footer1 p span{ 
  display: table-cell;
  vertical-align: middle;
  text-align: justify;
}

/* Article2 */
.article2{
  width: 100%;
  height: 40vh;
  display: block;
}
.article2 .article2_container {
  width: 96%;
  height: 100%;
  display: block;
  margin: 5px auto; /*0px-top&bottom auto-left&right*/
}
.article2 .article2_header{
  width: 100%;
  height: 20%;
  display: block;
  background-color: rgb(25, 253, 177);
}
.article2 .article2_header p{
  height: 100%;
  display: table;
  margin: 5px;
}
.article2 .article2_header p span{
  display: table-cell;
  vertical-align: middle;
  text-align: justify;
}
.article2 .article2_middle{
  width: 100%;
  height: 50%;
  display: block;
  margin: 5px auto;
}
.article2 .article2_section{
  width: 49%;
  height: 100%;
  display: block;
  float: left;
  background-color: rgb(107, 138, 127);
  margin: 10px auto; /*0px-top&bottom auto-left&right*/
}
.article2 .article2_section p{
  height: 100%;
  display: table;
  margin: 5px;
}
.article2 .article2_section p span{
  display: table-cell;
  vertical-align: middle;
  text-align: justify;
}
.article2 .article2_aside{
  width: 49%;
  height: 100%;
  display: block;
  float: right;
  background-color: rgb(24, 66, 52);
  margin: 10px auto; /*0px-top&bottom auto-left&right*/
}
.article2 .article2_aside p{
  height: 100%;
  display: table;
  margin: 5px;
}
.article2 .article2_aside p span{
  display: table-cell;
  vertical-align: middle;
  text-align: justify;
}
.article2 .article2_footer{
  width: 100%;
  height: 20%;
  display: block;
  clear: both; /*analisar*/
  background-color: rgb(19, 114, 82);
  text-align: center;
}
.article2 .article2_footer p{
  height: 100%;
  display: table;
  margin: 5px;
}
.article2 .article2_footer p span{
  display: table-cell;
  vertical-align: middle;
  text-align: justify;
}














.needborder {
  border: blue;
  border-style: solid;
}
