*
{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* Header */
/*Bloco Header*/
.header{
  width: 100%;
  height: 80px;
  display: block;
  background-color: #101010;
}
/*SubBloco Header*/
.header_container{
  width: 90%;
  height: 100%;
  display: block;
  margin: 0px auto; /*0px-top&bottom auto-left&right*/
}
/*Bloco Logo no Header*/
.header_logo{
  width: 30%;
  height: 100%;
  display: table;
  float: left;
}
a, a:link, a:visited {
  color: #FFFAFA;
  text-decoration: none;
}
.header_logo h1 span{
  font-weight: 800;
}
/*Escrita no Bloco Logo no Header*/
.header_logo h1{
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Montserrat';
  font-size: 32px;
  font-weight: 200;
}
/*Bloco Menu no Header*/
.header_menu {
  width: 70%;
  height: 100%;
  float: right;
}
/*Lista do Bloco Menu no Header*/
.header_menu li{
  height: 100%;
  display: table;
  float: right;
  padding: 0px 10px; /*0px-top&bottom 10px-left&right*/
}
/*Escrita na Lista do Bloco Menu no Header*/
.header_menu li a{
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-family: 'Montserrat';
  font-size: 16px;
}

/* Footer */
/*Bloco Footer*/
.footer {
  width: 100%;
  height: 200px;
  display: block;
  overflow: hidden;
  padding: 25px 0px; /*25px-top&bottom 0px-left&right*/
  box-sizing: border-box;
  background-color: #101010;
}
/*SubBloco Footer*/
.footer_container {
  width: 90%;
  height: 100%;
  display: block;
  margin: 0 auto; /*0px-top&bottom auto-left&right*/
}
/*Bloco logo no SubBloco Footer*/
.footer_container .footer_logo {
  width: 30%;
  height: 100%;
  float: left;
  display: block;
}
.footer_container .footer_logo img {
  width: 130px;
  height: auto;
}
/*Bloco third no SubBloco Footer*/
.footer_container .footer_third {
  width: calc(23.3337% - 20px);
  height: 100%;
  margin-right: 10px;
  float: left;
}
.footer_container .footer_third:last-child {
  margin-right: 0;
}
.footer_container .footer_third h1 {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: white;
  display: block;
  margin-bottom: 10px;
}
.footer_container .footer_third a {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: white;
  display: block;
  font-weight: 200;
  padding-bottom: 5px;
}
.footer_container .footer_third li {
  display: inline-block;
  padding: 0px 3px; /*0px-top&bottom 3.5px-left&right*/
  font-size: 20px;
}
.footer_container .footer_third span {
  width: 100%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 200;
  display: block;
  padding-top: 5px;
}
@media(max-width: 450px){
  .footer .footer_container{
    width: 90%;
  }
  .footer_container .footer_logo,
  .footer_container .footer_third{
    width: 100%;
    margin-bottom: 30px;
  }
  .header_menu li a {
    font-size: 12px;
  }
  .header_menu li {
    padding: 0px 10px; /*0px-top&bottom 10px-left&right*/
  }
}
@media(max-width: 750px){
  .footer .footer_container{
    width: 90%;
  }
  .footer_container .footer_logo,
  .footer_container .footer_third a{
    font-size: 12px;
  }
  .footer_container .footer_third h1{
    font-size: 14px;
  }
}

/* Main */
.main .article .header{

}
.main .article .section{
  
}
.main .article .footer{
  
}

/* Article2 */
.article2{
  width: 100%;
  height: 400px;
  display: block;
  overflow: hidden;
  padding: 35px 0; /*36px-top&botton 0px-right&left*/
  box-sizing: border-box;
  float: right;
}
.article2 .article2_container {
  width: 90%;
  height: 100%;
  display: block;
  margin: 0px auto; /*0px-top&bottom auto-left&right*/
}
.article2 .article2_header p{
  display: block;
  width: 100%;
  height: 20%;
  float: initial;
  background-color: rgb(25, 253, 177);
}
.article .article2_middle{
  display: block;
  height: 60%;
}
.article2 .article2_section{
  display: block;
  width: 49%;
  float: left;
  height: 100%;
  background-color: rgb(107, 138, 127);
  margin: 10px auto; /*0px-top&bottom auto-left&right*/
}
.article2 .article2_aside{
  display: block;
  width: 49%;
  float: right;
  height: 100%;
  background-color: rgb(24, 66, 52);
  margin: 10px auto; /*0px-top&bottom auto-left&right*/
}
.article2 .article2_footer{
  width: 100%;
  height: auto;
  clear: both;
  background-color: rgb(19, 114, 82);
}
















.needborder {
  border: blue;
  border-style: solid;
}
